body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #232323;
}

nav li:last-child a {
  background: #FE5F1E;
}

nav li a:hover {
  transition: all 0.3s ease-in-out;
  color: #FE5F1E;
}

.add-to-cart {
  border: 2px solid #FE5F1E;
  color: #FE5F1E;
  transition: all 0.3s ease-in-out;
}
.add-to-cart:hover {
  background: #FE5F1E;
  border-color: #fff;
  color: #fff;
}

.btn-primary {
  background: #FE5F1E;
}
.btn-primary:hover {
  background: #b23301;
}

.amount {
  color: #FE5F1E;
}

.block {
  border: 2px solid #FE5F1E;
  color: #FE5F1E;
  transition: all 0.3s ease-in-out;
}

.login a {
  align-items: end;
  color: #FE5F1E;
}
.login a:hover {
  color: #b23301;
}

.sign {
  background: #FE5F1E;
}
